/* line 1, ../scss/pb_button.scss */
.paragraphs-item-type-paragraphs-bundles-button .form-control {
  width: initial;
}

/* line 5, ../scss/pb_button.scss */
.pb-button-background {
  margin: 0 auto 20px auto;
  width: 100%;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
/* line 10, ../scss/pb_button.scss */
.pb-button-background a {
  color: transparent;
}
/* line 13, ../scss/pb_button.scss */
.pb-button-background .inner-button-contents {
  padding: 20px;
  overflow: hidden;
}
/* line 16, ../scss/pb_button.scss */
.pb-button-background .inner-button-contents .pb-button-image {
  vertical-align: middle;
  display: inline-block;
}
/* line 19, ../scss/pb_button.scss */
.pb-button-background .inner-button-contents .pb-button-image img {
  -moz-border-radius: 15px;
  border-radius: 15px;
}
/* line 24, ../scss/pb_button.scss */
.pb-button-background .inner-button-contents .pb-button-text {
  vertical-align: middle;
  display: inline-block;
  padding: 20px;
  float: right;
}
/* line 29, ../scss/pb_button.scss */
.pb-button-background .inner-button-contents .pb-button-text p {
  margin: 0;
}
